* {
  padding: 0;
  margin: 0;
}

body {
  min-height: 4000px;
}

.container {
  background-color: #ddd;
  width: 50%;
  margin: 100px auto;
  padding: 20px;
  box-sizing: border-box;
}

.container p {
  margin: 10px;
  padding: 4px;
}

.btn {
  position: relative;
  padding: 4px;
  width: 80px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  background-color: lightblue;
  color: #fff;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: lightpink;
  color: black;
}

.btn:active {
  background-color: red;
  color: black;
}

/* pop-up */

.pop-up {
  display: none; /* sebagai awalan */
  position: fixed;
  width: 30%;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(133, 233, 247, 1);
  text-align: center;
  box-sizing: border-box;
}

.pop-up p {
  margin: 10px;
  padding: 4px;
}

.pop-up h1 {
  margin: 3px;
  padding: 4px;
}

.silang {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 5px;
  top: 5px;
  background-color: red;
  cursor: pointer;
}

.silang:hover {
  background-color: lightsalmon;
}

.active {
  display: block;
}
